/* google fonts */
@import url("https://fonts.googleapis.com/css?family=Covered+By+Your+Grace");

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100%;
    background: #bcb;
}

ol, ul {
    padding-left: 30px;
}

.board-row {
    display: inline-flex;
}

.board-row:after {
    clear: both;
    content: "";
}

.status {
    margin-bottom: 10px;
}

.square {
    position: relative;
    display: inline-block;
    background: #fff;
    border: 1px solid #000;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 40px;
}

.cluenumber {
    font-size:11px;
    background-color: transparent;
    width:11px;
    line-height: 11px;
    text-align: center;
    color:#444;
    z-index: 2;
    border-radius: 3px;
    position: absolute;
    left: 1px;
    top: 2px;
}

.hasfocus {
    background: #4ff;
}

.wrong {
    background: #f99;
}

.active-clue {
    background: #ddd;
}

.off {
    background: #000;
}

.off.hasfocus {
    border: 1px solid #ddd;
    border-bottom-width: 2px;
    border-right-width: 2px;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game-board {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.side-panel {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

/* buttons ... */
.horiz-button-panel {
    text-align: center;
    width: 80%;
    background: #afbfaf;
    margin: 50px auto;
    border-radius: 20px;
}

.general-button {
    background: #aca;
    width: 98px;
    height: 60px;
    font-size:18px;
    cursor: pointer;
    margin: 10px 10px;
    color: #464;
}

.horiz-button {
    width: 80px;
    height: 55px;
    font-size: 40px;
    text-align: center;
}

.vert-button {
    width: 55px;
    height: 80px;
    font-size: 48px;
    text-align: center;
}

/* table layout ... */
.table-wrapper {
    display: inline-block;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.header {
    margin: auto;
    width: 800px;
}

path {
    fill: transparent;
}

#header-text {
    font-family: Palatino;
    font-size: 65px;
    color: #000;
    fill: #333;
}

.title-block {
    line-height: 6px;
}

.main-block {
    text-align: center;
    width: 100%;
}

.puzzle-picker {
    text-align: center;
}

.big-prompt {
    font-size: 30px;
    font-weight: normal;
}

.puzzle-list {
    list-style: none;
}
                        
.puzzle-title {
    color: #444;
}

.puzzle-title-item {
    cursor: pointer;
}

.puzzle-author {
    color: #a44;
    font-family: 'Covered By Your Grace';
    font-style: cursive;
    font-size: 19px;
}

#clue-text {
    font-size: 23px;
    font-weight: normal;
}

#modal-root {
    position: relative;
    z-index: 999;
}

.modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
