/* google fonts */
@import url("https://fonts.googleapis.com/css?family=Covered+By+Your+Grace");

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 800px;
    background: #bcb;
}

ol, ul {
    padding-left: 30px;
}

.board-row {
    display: inline-flex;
}

.board-row:after {
    clear: both;
    content: "";
}

.status {
    margin-bottom: 10px;
}

.square {
    position: relative;
    display: inline-block;
    background: #fff;
    border: 1px solid #000;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 40px;
}

.cluenumber {
    font-size:12px;
    background-color: transparent;
    width:12px;
    line-height: 12px;
    text-align: center;
    color:#444;
    z-index: 2;
    border-radius: 3px;
    position: absolute;
    left: 2px;
    top: 2px;
}

.hasfocus {
    background: #4ff;
}

.wrong {
    background: #f99;
}

.active-clue {
    background: #ddd;
}

.off {
    background: #000;
}

.off.hasfocus {
    border: 1px solid #ddd;
    border-bottom-width: 2px;
    border-right-width: 2px;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game-board {
    margin: 0 auto;
    text-align: center;
    width: 600px;
    display: inline-block;
}

.side-panel {
    width: 100px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
}

.check-button {
    background: #9b9;
    width: 95px;
    height: 95px;
    font-size:18px;
}

.header {
    width: 800px;
}

path {
    fill: transparent;
}

#header-text {
    font-family: Palatino;
    font-size: 65px;
    color: #000;
    fill: #333;
}

.title-block {
    line-height: 6px;
}

.main-block {
    text-align: center;
    width: 800px;
}

#puzzle-title {
    color: #444;
}

#puzzle-author {
    color: #a44;
    font-family: 'Covered By Your Grace';
    font-style: cursive;
    font-size: 19px;
}

#clue-text {
    font-size: 23px;
    font-weight: normal;
}
